streamlit
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.8.0/en_core_web_md-3.8.0-py3-none-any.whl
PyPDF2
python-docx
plotly
scikit-learn
language-tool-python
wordcloud
pandas
numpy
Pillow
python-dotenv
fastapi
uvicorn
python-multipart